.container {
  background-color: #EE272E;
  height: 100px;
  display: flex;
  font-family: sans-serif;
}

.flex-start {
  justify-content: flex-start;
}

.container div {
  font-size: 1em;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.container h2 {
  font-size: 1.3em;
  padding-left: 20px;
}

.container img {
  height: 60px;
  transition: transform .7s ease-in-out;
}

img:hover {
  transform: rotate(360deg);
}
