.buscar{
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.buscar input {
    height: 30px;
    font-size: 15px;
    width: 250px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #EE272E;
    text-align: center;
    outline: 0;
}

.buscar button{
    height: 36px;
    margin-left: 15px;
    border-radius: 5px;
}